.main-div-form {
    margin-left: auto;
    margin-right: auto;
    background-color: #83ACAF;
    height: auto;
    width: 500px;
    border-radius: 10px;
    border: 1px solid #969696;
    margin-top: 100px;
    box-shadow: 0 0 5px rgb(124, 124, 124);
}

.login_pop-up_window {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #5d9976;
    position: relative;
    top: 120px;
}

.login_close-btn {
    position: absolute;
    bottom: 8px;
    right: 0;
}

.login_close-span {
    height: 10px;
    font-size: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login_close-span:hover {
    color: #707070;
}

.login_close-image {
    height: 20px;
    width: 20px;
}

.error-text {
    color: brown;
    font-size: 14px;
}