body {
    background-color: #f9f4ea;
    color: #605f4b;
}

.bg-card {
    background-color: #9c9e80;
}

.bg-header {
    background-color: #c47457;
}

.bg-card-product {
    background-color: #f9f4ea;
}

.bg-card-product-img {
    background-color: #ecb15f;
}
